<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> 资产查询
        <button class="btn btn-primary btn-sm mb-0 pull-right" [routerLink]="['/asset-management/asset-search-parent/asset-search']"
          type="button">资产查询</button>
        <button class="btn btn-primary btn-sm mb-0 pull-right" [routerLink]="['/asset-management/asset-search-parent/asset-statistic']"
          type="button">资产统计</button>
      </div>
      <div class="card-body">

        <div class="row">
          <div class="form-group col-md-6">
            <label for="select">资产类别</label>
            <select class="form-control" [(ngModel)]="selectedCategory" name="select">
              <option value="">--请选择--</option>
              <ng-container *ngFor="let category of categories">
                <option [value]="category.assetCategoryId">{{ category.categoryName }}</option>
              </ng-container>
            </select>
            <!-- <span class="help-block">Please enter your email</span> -->
          </div>
          <div class="form-group col-md-6">
            <label for="select">责任部门</label>
            <!-- <input type="text" class="form-control" [(ngModel)]="selectedSearchOrg.label" (click)="$event.stopPropagation();showSearchOrgSelect=!showSearchOrgSelect"
              maxlength="0">
            <div style="position: relative" *ngIf="showSearchOrgSelect" (click)="$event.stopPropagation()">
              <div style="position: absolute;z-index: 1;">
                <p-tree [value]="searchOrganizations" selectionMode="single" [(selection)]="selectedSearchOrg" (onNodeSelect)="nodeSelect($event, 'search')"
                  styleClass="col-md-12"></p-tree>
              </div>
            </div> -->

            <asset-organization-dropdown [(selectedOrg)]="selectedSearchOrg"></asset-organization-dropdown>
            <!-- <span class="help-block">Please enter your email</span> -->
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="select">资产状态
              <span class="required">*</span>
            </label>
            <select class="form-control" [(ngModel)]="selectedAssetStatus" name="select">
              <!-- <option value="">--请选择--</option> -->
              <ng-container *ngFor="let status of statusTypes">
                <option [value]="status.assetStatusTypeName">{{ status.assetStatusTypeName }}</option>
              </ng-container>
            </select>
            <!-- <span class="help-block">Please enter your email</span> -->
          </div>
          <div class="form-group col-md-6">
            <label for="select">资产使用人</label>
            <asset-employee-autocomplete [(selectedEmployee)]="selectedEmployee"></asset-employee-autocomplete>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="select">开始时间
              <span class="required">*</span>
            </label>
            <div>
              <p-calendar #beginDate [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2050" [selectOtherMonths]="true" [showButtonBar]="true"
                [(ngModel)]="searchBeginDate" dateFormat="yy-mm-dd" [locale]="zh" [showIcon]="false" [maxDate]="endDate.value?endDate.value:today"
                readonlyInput="true" placeholder="请输入开始时间"></p-calendar>
            </div>
            <!-- <span class="help-block">Please enter your email</span> -->
          </div>
          <div class="form-group col-md-6">
            <label for="select">结束时间
              <span class="required">*</span>
            </label>
            <div>
              <p-calendar #endDate [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2050" [selectOtherMonths]="true" [showButtonBar]="true"
                [(ngModel)]="searchEndDate" dateFormat="yy-mm-dd" [locale]="zh" [showIcon]="false" [minDate]="beginDate.value"
                [maxDate]="today" readonlyInput="true" placeholder="请输入结束时间"></p-calendar>
            </div>
            <!-- <span class="help-block">Please enter your email</span> -->
          </div>
        </div>

        <button class="btn btn-primary" type="button" (click)="beforeSearch()">
          <i class="fa fa-search"></i>&nbsp; 查询
        </button>

        <div class="btn-group pull-right">
          <!-- <button class="btn btn-outline-info" type="button" (click)="showAddModal(addAssetModal)">
            <i class="fa fa-plus"></i>&nbsp; 添加资产信息
          </button>
          <button class="btn btn-outline-primary" type="button" (click)="showUploadAssetModal(uploadAssetModal)">
            <i class="fa fa-upload"></i>&nbsp; 导入
          </button> -->
          <button class="btn btn-outline-primary" type="button" (click)="downloadAsset()">
            <i class="fa fa-download"></i>&nbsp; 导出
          </button>
          <!-- <button class="btn btn-outline-primary" type="button">
            <i class="fa fa-download"></i>&nbsp; 导入
          </button>
          <button class="btn btn-outline-primary" type="button">
            <i class="fa fa-upload"></i>&nbsp; 导出
          </button> -->
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> 资产查询
      </div>
      <div class="card-body">

        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>编码</th>
              <th>名称</th>
              <th>类型</th>
              <th>主资产编码</th>
              <th>规格</th>
              <th>部门</th>
              <th>使用人</th>
              <th>使用状态</th>
              <th>存放位置</th>
              <th>审核状态</th>
              <th>操作</th>
              <!-- <th>录入时间</th>
              <th>购入金额</th>
              <th>购入时间</th>
              <th>残值率</th>
              <th>购买批号</th>
              <th>折旧月数</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of assetList">
              <td>
                <a href="javascript:void(0);" (click)="showDetailModal(item,assetDetailModal)" title="查看资产详情">{{ item?.assetSerialNumber }}</a>
              </td>
              <td>{{ item?.assetName }}</td>
              <td>{{ item?.assetCategoryName }}</td>
              <td>
                <a href="javascript:void(0);" (click)="showAssetRelationModal(item,assetRelationModal)" title="查看资产套关系">{{ item?.majorAssetSerialNumber }}</a>
              </td>
              <td>{{ item?.brandSpecification }}</td>
              <td>{{ item?.organizationName }}</td>
              <td>{{ item?.employeeName }}</td>
              <td>{{ item?.useStatus }}</td>
              <td>{{ item?.storageLocation }}</td>
              <td>{{ item?.reviewStatus? '已审核':'待审核' }}</td>
              <!-- <td>{{ item?.purchaseAmount }}</td>
              <td>{{ item?.purchaseTime | date: 'yyyy-MM-dd' }}</td>
              <td>{{ item?.residualRatio }}</td>
              <td>{{ item?.batchSerialNumber }}</td>
              <td>{{ item?.createTime | date: 'yyyy-MM-dd' }}</td>
              <td>{{ item?.monthOfDepreciation }}</td> -->
              <td>
                <button type="button" *ngIf="!item?.reviewStatus" class="btn btn-warning" (click)="showReviewModal(item)">审核</button>
                <button type="button" *ngIf="item?.reviewStatus" class="btn btn-primary" (click)="showEditModal(item,editAssetModal)">编辑</button>
                <button type="button" class="btn btn-danger" (click)="showDeleteModal(item)">删除</button>
              </td>
            </tr>
          </tbody>
        </table>
        <asset-paginator [rows]="pageSize" [totalRecords]="total" [rowsPerPageOptions]="[5,10,20,40]" (onPageChange)="pageChanged($event)"
          [first]="pageFirst"></asset-paginator>
        <!-- <asset-pagination [totalItems]="total" [currentPage]="pageNumber" [itemsPerPage]="pageSize" (changePage)="pageChanged($event)"
          (changeSize)="sizeChanged($event)"></asset-pagination> -->
      </div>
    </div>
  </div>
</div>

<!-- 编辑资产弹窗 -->
<ng-template #editAssetModal>
  <div class="modal-header">
    <h4 class="modal-title">编辑资产</h4>
    <button type="button" class="close" (click)="editAssetModalRef.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-md-3 form-control-label">资产编码</label>
      <div class="col-md-9">
        <input type="text" [(ngModel)]="editForm.assetSerialNumber" name="hf-email" class="form-control" placeholder="请输入资产编码" maxlength="20"
          disabled>
        <!-- <span class="help-block">Please enter your email</span> -->
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 form-control-label">名称</label>
      <div class="col-md-9">
        <input type="text" [(ngModel)]="editForm.assetName" name="hf-email" class="form-control" placeholder="请输入名称" maxlength="20"
          disabled>
        <!-- <span class="help-block">Please enter your email</span> -->
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 form-control-label">规格</label>
      <div class="col-md-9">
        <input type="text" [(ngModel)]="editForm.brandSpecification" name="hf-email" class="form-control" placeholder="请输入规格" maxlength="20"
          disabled>
        <!-- <span class="help-block">Please enter your email</span> -->
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 form-control-label">主资产编码</label>
      <div class="col-md-9">
        <input type="text" [(ngModel)]="editForm.majorAssetSerialNumber" name="hf-email" class="form-control" placeholder="请输入主资产编码"
          maxlength="20" disabled>
        <!-- <span class="help-block">Please enter your email</span> -->
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 form-control-label">组织部门
        <span class="required">*</span>
      </label>
      <div class="col-md-9">
        <asset-organization-dropdown [selectedOrg]="selectedEditOrg" (selectedOrgChange)="selectedOrgChange($event)" [orgainzationId]="editForm.organizationId"></asset-organization-dropdown>
        <!-- <span class="help-block">Please enter your email</span> -->
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 form-control-label">资产类型</label>
      <div class="col-md-9">
        <select class="form-control" [(ngModel)]="editFormCategory" (ngModelChange)="editFormCategoryChange($event)" name="select"
          disabled>
          <option value="">--请选择--</option>
          <ng-container *ngFor="let category of categories">
            <option [ngValue]="category">{{ category.categoryName }}</option>
          </ng-container>
        </select>
        <!-- <span class="help-block">Please enter your email</span> -->
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 form-control-label">使用人
        <span class="required">*</span>
      </label>
      <div class="col-md-9">
        <asset-employee-autocomplete [(selectedEmployee)]="editFormEmployee"></asset-employee-autocomplete>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 form-control-label">使用状态
        <span class="required">*</span>
      </label>
      <div class="col-md-9">
        <select class="form-control" [(ngModel)]="editForm.useStatus" name="select">
          <!-- <option value="">--请选择--</option> -->
          <ng-container *ngFor="let status of statusTypes">
            <option [value]="status.assetStatusTypeName">{{ status.assetStatusTypeName }}</option>
          </ng-container>
        </select>
        <!-- <span class="help-block">Please enter your email</span> -->
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 form-control-label">购买批号</label>
      <div class="col-md-9">
        <input type="text" [(ngModel)]="editForm.batchSerialNumber" name="hf-email" class="form-control" placeholder="请输入购买批号" maxlength="20"
          disabled>
        <!-- <span class="help-block">Please enter your email</span> -->
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 form-control-label">存放位置
        <span class="required">*</span>
      </label>
      <div class="col-md-9">
        <input type="text" [(ngModel)]="editForm.storageLocation" name="hf-email" class="form-control" placeholder="请输入存放位置" maxlength="20">
        <!-- <span class="help-block">Please enter your email</span> -->
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 form-control-label">购买时间</label>
      <div class="col-md-9">
        <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2050" [selectOtherMonths]="true" [showButtonBar]="true"
          [(ngModel)]="editForm.purchaseTime" dateFormat="yy-mm-dd" [locale]="zh" [showIcon]="false" inputStyleClass="add-purchase-date"
          [maxDate]="today" readonlyInput="true" placeholder="请输入购买时间" disabled></p-calendar>
        <!-- <span class="help-block">Please enter your email</span> -->
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 form-control-label">购买金额</label>
      <div class="col-md-9">
        <input type="number" [(ngModel)]="editForm.purchaseAmount" name="hf-email" class="form-control" placeholder="请输入购买金额" maxlength="20"
          disabled>
        <!-- <span class="help-block">Please enter your email</span> -->
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 form-control-label">折旧月数</label>
      <div class="col-md-9">
        <input type="number" [(ngModel)]="editForm.monthOfDepreciation" name="hf-email" class="form-control" placeholder="请输入新密码"
          maxlength="20" disabled>
        <!-- <span class="help-block">Please enter your email</span> -->
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 form-control-label">残值率</label>
      <div class="col-md-9">
        <div class="input-group">
          <input type="number" [(ngModel)]="editForm.residualRatio" name="hf-email" class="form-control" placeholder="请输入新密码" maxlength="20"
            disabled>
          <span class="input-group-addon">%</span>
        </div>
        <!-- <span class="help-block">Please enter your email</span> -->
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="editAssetModalRef.hide()">取消</button>
    <button type="button" class="btn btn-primary" (click)="editAsset()">保存</button>
  </div>
</ng-template>

<!-- <ng-template #deleteAssetModal>
  <div class="modal-header">
    <h4 class="modal-title">删除资产</h4>
    <button type="button" class="close" (click)="deleteAssetModalRef.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    确认删除资产
    <strong style="color:brown">{{ selectedDeleteAsset?.assetName }} </strong>?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="deleteAssetModalRef.hide()">取消</button>
    <button type="button" class="btn btn-primary" (click)="deleteAsset()">确认</button>
  </div>
</ng-template> -->

<ng-template #assetDetailModal>
  <div class="modal-header">
    <h4 class="modal-title">资产详情</h4>
    <button type="button" class="close" (click)="assetDetailModalRef.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row detail">
      <div class="col-md-12">
        <asset-detail [assetDetail]="assetDetail" [detailModalRef]="assetDetailModalRef"></asset-detail>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="assetDetailModalRef.hide()">确认</button>
  </div>
</ng-template>

<ng-template #assetRelationModal>
  <div class="modal-header">
    <h4 class="modal-title">资产套关系</h4>
    <button type="button" class="close" (click)="assetRelationModalRef.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-bordered table-striped table-sm">
      <thead>
        <tr>
          <th>资产级别</th>
          <th>编码</th>
          <th>名称</th>
          <th>部门</th>
          <th>使用人</th>
          <th>使用状态</th>
          <th>存放位置</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of assetRelationList">
          <td>{{ item.assetSerialNumber === item.majorAssetSerialNumber?'主资产':'子资产' }}</td>
          <td>
            <a href="javascript:void(0);" (click)="showDetailModal(item,assetDetailModal)" title="查看资产详情">{{ item?.assetSerialNumber }}</a>
          </td>
          <td>{{ item?.assetName }}</td>
          <td>{{ item?.organizationName }}</td>
          <td>{{ item?.employeeName }}</td>
          <td>{{ item?.useStatus }}</td>
          <td>{{ item?.storageLocation }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="assetRelationModalRef.hide()">确认</button>
  </div>
</ng-template>
