<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> 搜索
      </div>
      <div class="card-body">

        <div class="row">
          <div class="form-group col-md-6">
            <label for="select">资产类别</label>
            <select class="form-control" [(ngModel)]="selectedCategory" id="select" name="select">
              <option value="">--请选择--</option>
              <ng-container *ngFor="let category of categories">
                <option [value]="category.assetCategoryId">{{ category.categoryName }}</option>
              </ng-container>
            </select>
            <!-- <span class="help-block">Please enter your email</span> -->
          </div>
          <div class="form-group col-md-6">
            <label for="select">责任部门</label>
            <select class="form-control" [(ngModel)]="selectedOrganization" id="select" name="select">
              <option value="">--请选择--</option>
              <ng-container *ngFor="let organization of organizations">
                <option [value]="organization.organizationId">{{ organization.name }}</option>
              </ng-container>
            </select>
            <!-- <span class="help-block">Please enter your email</span> -->
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="select">资产状态
              <span class="required">*</span>
            </label>
            <select class="form-control" [(ngModel)]="selectedAssetStatus" id="select" name="select">
              <!-- <option value="">--请选择--</option> -->
              <ng-container *ngFor="let status of statusTypes">
                <option [value]="status.assetStatusTypeName">{{ status.assetStatusTypeName }}</option>
              </ng-container>
            </select>
            <!-- <span class="help-block">Please enter your email</span> -->
          </div>
          <div class="form-group col-md-6">
            <label for="select">资产负责人</label>
            <select class="form-control" id="select" name="select">
              <option value="0">Please select</option>
              <option value="1">Option #1</option>
              <option value="2">Option #2</option>
              <option value="3">Option #3</option>
            </select>
            <!-- <span class="help-block">Please enter your email</span> -->
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="select">录入时间
              <span class="required">*</span>
            </label>
            <input type="text" bsDaterangepicker [(ngModel)]="dateRange" [maxDate]="today" [bsConfig]="datePickerConfig" class="form-control">
            <!-- <span class="help-block">Please enter your email</span> -->
          </div>
        </div>

        <button class="btn btn-primary" type="button" (click)="search()">
          <i class="fa fa-search"></i>&nbsp; 查询
        </button>

        <div class="btn-group pull-right">
          <button class="btn btn-outline-primary" type="button" (click)="showAddModal=true;">
            <i class="fa fa-plus"></i>&nbsp; 添加资产信息
          </button>
          <!-- <button class="btn btn-outline-primary" type="button">
            <i class="fa fa-download"></i>&nbsp; 导入
          </button>
          <button class="btn btn-outline-primary" type="button">
            <i class="fa fa-upload"></i>&nbsp; 导出
          </button> -->
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> 资产查询
      </div>
      <div class="card-body">

        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>编码</th>
              <th>名称</th>
              <th>类型</th>
              <th>规格</th>
              <th>录入时间</th>
              <th>责任人</th>
              <th>主资产编号</th>
              <th>购入金额</th>
              <th>购入时间</th>
              <th>折旧率</th>
              <th>购买批号</th>
              <th>使用状态</th>
              <th>存放位置</th>
              <th>折旧月数</th>
            </tr>
          </thead>
          <tbody>
            <!-- assetSerialNumber?: string; // 资产二维码编号
            assetName?: string; // 资产名称
            assetCategoryId?: number; // 资产类型id
            brandSpecification?: string; // 品牌规格
            createTime?: number; // 录入时间
            employeeName?: string; // 责任人
            majorAssetSerialNumber?: string; // 主资产编号
            purchaseAmount?: number; // 购入金额
            purchaseTime?: number; // 购入时间
            residualRatio?: number; // 折旧率
            batchSerialNumber?: string; // 购买批号
            useStatus?: string; // 使用状态
            storageLocation?: string; // 存放位置
            monthOfDepreciation?: number; // 折旧月数 -->

            <tr *ngFor="let item of value">
              <td>{{ item?.assetSerialNumber }}</td>
              <td>{{ item?.assetName }}</td>
              <td>{{ item?.assetCategoryId }}</td>
              <td>{{ item?.brandSpecification }}</td>
              <td>{{ item?.createTime | date: 'yyyy-MM-dd' }}</td>
              <td>{{ item?.employeeName }}</td>
              <td>{{ item?.majorAssetSerialNumber }}</td>
              <td>{{ item?.purchaseAmount }}</td>
              <td>{{ item?.purchaseTime | date: 'yyyy-MM-dd' }}</td>
              <td>{{ item?.residualRatio }}</td>
              <td>{{ item?.batchSerialNumber }}</td>
              <td>{{ item?.useStatus }}</td>
              <td>{{ item?.storageLocation }}</td>
              <td>{{ item?.monthOfDepreciation }}</td>
            </tr>
          </tbody>
        </table>

        <asset-pagination [totalItems]="total" [currentPage]="pageNumber" [itemsPerPage]="pageSize" (changePage)="pageChanged($event)"
          (changeSize)="sizeChanged($event)"></asset-pagination>
      </div>
    </div>
  </div>
</div>

<!-- <asset-add-asset [show]="showAddModal"></asset-add-asset> -->
