<div class="sign-moudle">
  <div class="mask app flex-row align-items-center">
    <div class="container">
      <!-- <div class="ta-c mb-5">
            <h1>资产管理系统</h1>
        </div> -->
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card mx-4">
            <div class="card-block p-4">

              <div class="login-page">
                <h3 class="title">用户登录</h3>
                <form role="form" class="login-form" name="form">
                  <div class="input-group mb-3">
                    <span class="input-group-addon">
                      <i class="fa fa-user"></i>
                    </span>
                    <input type="text" [(ngModel)]="username" name="username" class="form-control" placeholder="输入用户名..." maxlength="20">
                  </div>
                  <div class="input-group mb-4">
                    <span class="input-group-addon">
                      <i class="fa fa-lock"></i>
                    </span>
                    <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="输入密码..." maxlength="20">
                  </div>
                  <button type="button" class="btn btn-block btn-secondary btn-primary login-btn" (click)="login()">登录</button>
                </form>
                <!-- <div class="mt-3 mb-3">
                  <span class="text-muted">还没有账户，
                    <a ui-sref="homepage.sign.register">马上注册</a>
                  </span>
                  <span class="text-muted f-r">
                    <a ui-sref="homepage.sign.resetPassword">找回密码</a>
                  </span>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sign-moudle-about">
      <span>Copyright&nbsp;&nbsp;©&nbsp;2017&nbsp;iecloud.top&nbsp;&nbsp;</span>
    </div>
  </div>
</div>
