.homepage {
  background: #F7F6F2;
  min-height: 100vh;
  .wrapper {
    padding-top: 55px;
  }
  a {
    color: #323a45 !important;
  }
  a:hover {
    color: #000 !important;
  }
  button {
    border-radius: 5px;
    transition: opacity 0.2s ease;
  }
  .btn-primary {
    color: #fff !important;
    background-color: #323a45 !important;
    border-color: #323a45 !important;
  }
  .btn-primary:active,
  .btn-primary:disabled,
  .btn-primary:focus,
  .btn-primary:hover {
    background-color: #000 !important;
    border-color: #323a45 !important;
  }
  .btn-primary:disabled {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
  }
  .sign-head {
    position: fixed;
    top: 0;
    width: 100%;
    button {
      display: inline-block !important;
      width: 85px;
      border-radius: 2em !important;
    }
    .top-navbar-title {
      font-size: 20px; // line-height: 40px;
      text-align: center; // height: 40px;
      margin: auto; // padding: 10px 0;
      position: relative;
    }
  }
}
