<input type="text" class="form-control" [ngModel]="_selectedOrg.label" (keydown)="$event.preventDefault();" (click)="$event.stopPropagation();selectVisiable=!selectVisiable"
  maxlength="0">
<ng-container *ngIf="organizations.length > 0">
  <div style="position: relative" *ngIf="selectVisiable" (click)="$event.stopPropagation()">
    <div style="position: absolute;z-index: 3;">
      <p-tree [value]="organizations" selectionMode="single" [selection]="selectedOrg" (onNodeSelect)="nodeSelect($event)" styleClass="col-md-12"></p-tree>
    </div>
  </div>
</ng-container>
