<div class=" row">
  <label class="col-md-4 form-control-label" for="select">
    共{{ totalItems }}行,每页
    <select #pageSize [ngModel]="itemsPerPage" (ngModelChange)="sizeChanged(pageSize.value)" class="form-control form-control-sm pagination">
      <option *ngFor="let pageSize of pageSizes" [value]="pageSize">{{ pageSize }}</option>
    </select>行
  </label>
  <div class="col-md-8">
    <pagination [boundaryLinks]="false" (pageChanged)=pageChanged($event) [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"
      [(ngModel)]="currentPage" class="pagination-md pull-right" [maxSize]="maxSize" [rotate]="false" previousText="&lsaquo;"
      nextText="&rsaquo;" [pageBtnClass]="'pagination-btn'"></pagination>
  </div>
</div>
