.asset-mark{
  .params{
    height: 35px;
  }
  .status{
    height:35px;
  }
  .btns .btn,
  .export{
    position: relative;
    top:4px;
    float: right;
    margin-left:20px;
    border-radius: 6px;
  }
  .card table{
    th{
      text-align: center;
    }
  }
  .form-control.status{
    width:175px;
  }
  .searchDetail{
    margin-top:20px;
  }
}