.sidebar {
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 20px;
  z-index: 100
}

.sidebar-hidden .sidebar {
  margin-left: 0 !important;
}
