<!-- <div bsModal #addAssetModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">新增资产</h4>
        <button type="button" class="close" (click)="addAssetModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="company">原密码</label>
          <input class="form-control" [(ngModel)]="oldPassword" placeholder="请输入原密码" type="password">
        </div>
        <div class="form-group">
          <label for="company">新密码</label>
          <input class="form-control" [(ngModel)]="newPassword" placeholder="请输入新密码" type="password">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="addAssetModal.hide()">取消</button>
        <button type="button" class="btn btn-primary" (click)="save(addAssetModal)">保存</button>
      </div>
    </div>
  </div>
</div> -->
