<div class="system-role">
  <div class="row">
    <div class="col-md-12">
      <div class="card border-rad">
        <div class="card-header border-rad">
          <i class="fa fa-align-justify"></i>角色管理
          <button type="button" class="btn btn-primary pull-right margin-rt" (click)="showAddModal(addModal);$event.target.blur();">
            <i class="fa fa-plus"></i>&nbsp; 新增</button>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="form-group col-md-4">
              <label for="search" class="form-control-label">组织部门：</label>
              <asset-organization-dropdown [(selectedOrg)]="selectedSearchOrg"></asset-organization-dropdown>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <button class="btn btn-primary" type="button" (click)="getList()">
                <i class="fa fa-search"></i>&nbsp; 查询
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered table-striped table-sm">
                <thead>
                  <th>角色id</th>
                  <th>部门名称</th>
                  <th>角色名</th>
                  <th>描述</th>
                  <th>创建时间</th>
                  <th>操作</th>
                  <!-- <th *ngFor="let th of theads">{{th}}</th> -->
                </thead>
                <tbody *ngFor="let item of roleList">
                  <td>{{item.roleId}}</td>
                  <td>{{item.organizationName}}</td>
                  <td>{{item.roleName}}</td>
                  <td>{{item.description}}</td>
                  <td>{{item.createTime | date:'yyyy-MM-dd'}}</td>
                  <td>
                    <button type="button" class="btn btn-primary pull-left" (click)="showEditModal(item,editModal);$event.target.blur();">编辑</button>
                    <button type="button" class="btn btn-danger pull-left margin-lf" (click)="deleteSystemRole(item)">删除</button>
                    <button type="button" class="btn btn-success pull-left margin-lf" [routerLink]="['../permission']" [queryParams]="{roleId:item.roleId}">分配权限</button>
                  </td>
                </tbody>
                <!-- -->
              </table>
              <asset-paginator [rows]="pageSize" [totalRecords]="total" [rowsPerPageOptions]="[5,10,20,40]" (onPageChange)="pageChanged($event)"
                [first]="pageFirst"></asset-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #editModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">编辑角色</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="editModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
            <label for="name">角色ID</label>
            <input type="text" class="form-control" [(ngModel)]="editForm.roleId" id="name" placeholder="角色ID" disabled>
          <label for="name">组织部门</label>
          <asset-organization-dropdown [(selectedOrg)]="selectedEditOrg"  [organizationId]="editForm.organizationId"></asset-organization-dropdown>
          <label for="name">角色名</label>
          <input type="text" class="form-control" [(ngModel)]="editForm.roleName" id="name" placeholder="角色名">
          <label for="name">描述</label>
          <input type="text" class="form-control" [(ngModel)]="editForm.description" id="name" placeholder="描述">
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-outline-danger pull-right margin-lf" (click)="editModalRef.hide()">
      <i class="fa fa-times"></i>&nbsp;取消</button>
    <button type="button" class="btn btn-outline-success pull-right" (click)="editSystemRole()">
      <i class="fa fa-pencil"></i>&nbsp; 确认编辑</button>

  </div>
</ng-template>
<ng-template #addModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">新增角色</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="addModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="name">角色名</label>
          <input type="text" class="form-control" [(ngModel)]="addForm.roleName" id="name" placeholder="角色名">
          <label for="name">组织部门</label>
          <asset-organization-dropdown [(selectedOrg)]="selectedAddOrg"></asset-organization-dropdown>
          <label for="name">备注</label>
          <input type="text" class="form-control" [(ngModel)]="addForm.description" id="name" placeholder="备注">
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-outline-danger pull-right margin-lf" (click)="addModalRef.hide()">
      <i class="fa fa-times"></i>&nbsp;取消</button>
    <button type="button" class="btn btn-outline-success pull-right" (click)="addSystemRole()">
      <i class="fa fa-plus"></i>&nbsp; 确认添加</button>

  </div>
</ng-template>
