<div class="asset-statistic">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>搜索
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-md-9">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="assetCategoryId">资产类型</label>
                  <select class="form-control" id="assetCategoryId" [(ngModel)]="searchParams.assetCategoryId">
                    <option *ngFor="let item of Dropdown.assetType" [ngValue]="item.value">{{item.label}}</option>
                  </select>
                  {{searchParams.assetCategoryId}}
                </div>
                <div class="form-group col-md-6">
                  <label for="organizationId">组织</label>
                  <select class="form-control" id="organizationId" [(ngModel)]="searchParams.organizationId">
                    <option *ngFor="let item of Dropdown.organizationList" [ngValue]="item.value">{{item.label}}</option>
                  </select>
                  {{searchParams.organizationId}}
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <button class="btn btn-primary btnTop" type="button" name="button" (click)="searchStatistic()">
                <span class="fa fa-search"></span>查询</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="inventory">盘点状态 </label>
                  <select class="form-control" id="inventory" [(ngModel)]="searchParams.inventoryStatus">
                    <option *ngFor="let item of Dropdown.inventoryList" [ngValue]="item.value">{{item.label}}</option>
                  </select>
                  {{searchParams.inventoryStatus}}
                </div>
                <div class="form-group col-md-6">
                  <label for="assetStatusTypeId">资产状态类型</label>
                  <select class="form-control" id="assetStatusTypeId" [(ngModel)]="searchParams.assetStatusTypeId">
                    <option *ngFor="let item of Dropdown.assetStatus" [ngValue]="item.value">{{item.label}}</option>
                  </select>
                  {{searchParams.assetStatusTypeId}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>资产信息
        </div>
        <div class="card-block">
          <table class="table">
            <thead>
              <th *ngFor="let th of theads">{{th}}</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of assetStatisticList">
                <td>{{item.assetId}}</td>
                <td>{{item.assetName}}</td>
                <td>{{item.assetSerialNumber}}</td>
                <td>{{item.depreciationAmountAccumulate}}</td>
                <td>{{item.depreciationAmountMonthly}}</td>
                <td>{{item.netValue}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
