<div class="wrapper">
  <div class="about-us">
    <div class="content">
      <section class="intro">
        <p>公司创立于2016年2月,于6月完成工商注册手续，注册资金1000万元。是一家专注于智能制造顶层设计及实施的技术服务类公司。公司主要服务于工业型企业，提供智能制造整体解决方案，目前公司已经形成工业云服务、工业大数据分析、IE智能生产改造等多维度智能制造服务产品体系。公司人才结构合理，核心团队来自通信运营商、工业咨询企业的高管，一直致力于信息化、工业化的相关工作。公司已经同国内著名智能生产咨询企业爱波瑞、红领等建立合作关系，并共同打造浙商智能制造产业链。</p>
      </section>

      <section class="contact">
        <div class="title">
          <span>联系我们</span>
        </div>
        <div class="grids">
          <div class="link column-6">
            <p>
              <label>公司：</label>IE云智能科技（杭州）有限公司</p>
            <p>
              <label>电话：</label>0571-87117875</p>
            <p>
              <label>传真：</label>0571-87111550</p>
            <p>
              <label>地址：</label>杭州市滨江区建业路511号华业大厦28楼</p>
          </div>
          <div class="qrcode column-6">
            <img src="./assets/img/wx.jpg" width="120px">
            <p>扫一扫，关注 IE云 微信公众号</p>
          </div>
        </div>
      </section>
      <section class="map">
        <div id="map" style="min-height: 350px; width: 100%;">
        </div>
      </section>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
