<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i>部门管理
      </div>
      <div class="card-block">
        <div class="row">
          <div class="form-group col-md-3">
            <label for="department">上级部门</label>
            <select class="form-control" id="department" (change)="addDepartment($event)">
              <option value="1">1111</option>
              <option value="2">1111</option>
              <option value="3">1111</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i>类别管理
      </div>
      <div class="card-block">
      </div>
    </div>
  </div>
</div>
